.ion-icon{
  --font-size: xx-large;
  --font-weight: 200;
  //--height: 20%;
  //--width: 20%;
  --padding-left: 10%;
}
.login-head{
  padding-top: 3%;
  padding-left: 10%;
  justify-content: left;
  font-size: xx-large;
  font-weight: bolder;
}
.login-form{
  padding-top: 20%;
  background-color: white;
  height: 90%;
  overflow: hidden;
}
.input-item{
  --border-width: 2px;
  //--border-right-width: 10px;
  //--border-left-width: 10px;
  //--border-bottom-width: 10px;
  //--border-top-color: #3dc2ff;
  //--border-right-color: #3dc2ff;
  //--border-bottom-color: #3dc2ff;
  //--border-left-color: #3dc2ff;
  --border-color: #3dc2ff;
  --background: lightgrey;
  --border-radius: 5px;
  //--inner-border-width: 5px;
  color: black;
  overflow: hidden;
  margin: 10px auto;
  width: 80%;
  --highlight-height: 0;
}
.ion-input{
  //--highlight-height: 0;
}
.login-btn{
  --background: #3dc2ff;
  //height: 20%;
  width: 80%;
  margin: 10px auto;
}
.btn{
  --background: white;
  --border-color: darkblue;
  --border-width: 1px;
  //height: 20%;
  width: 80%;
  --color: darkblue;
  margin: 10px auto;
}
.center-div{
  padding-top: 5%;
  padding-left: 35%;
  justify-content: center;
  font-size: medium;
  font-weight: 80;
  color: darkblue;
}
.line-colm{
  border-top: 1px solid darkblue;
}

.last-line{
  padding-top: 30%;
  padding-left: 20%;
  color: black;
}

.signup{
  color: #3dc2ff;
}

