<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Shopping List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollable>

  <br/>
  <ion-grid>
    <ion-row *ngFor="let product of productDetails">

      <ion-col size="5">
        <img src='assets/{{product.productPic}}'>
      </ion-col>

      <ion-col size="6">
        <div class="item-name"> {{product.productName}}</div>
        <div class="item-price"> {{product.productPrice}}</div>
        <ion-button class="proceed-btn" color="secondary" expand="block"> Add to cart </ion-button>

      </ion-col>

      <ion-col> <ion-icon name="trash" color="danger"></ion-icon></ion-col>
    </ion-row>

  </ion-grid>
<!--  <app-explore-container name="Tab 2 page"></app-explore-container>-->
</ion-content>
