<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollable>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label>Added Items</ion-label>
  <ion-card>
<img src="assets/product1.jpeg">
  </ion-card>
  <ion-card>
    <img src="assets/product2.webp">
  </ion-card>
  <ion-card>
    <img src="assets/product3.jpg">
  </ion-card>
<!--  <app-explore-container name="Tab 2 page"></app-explore-container>-->
</ion-content>
